@media all {
    body, td, p, pre.lyrics {
        font-family: 'Source Sans Pro', sans-serif;
    }

    code, pre {
        font-family: 'Source Code Pro', monospace;
    }
}

@media print {
    #index, a {
        display: none;
    }

    pre.lyrics {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 90vh;
    }

    pre.lyrics .lyrics-chunk {
        margin: 0 1em 0 0;
    }
}

@media screen {
    body, td, p {
        font-size: 14px;
        background-color: #222;
        color: #ccc;
    }

    a {
        text-decoration: none;
        color: #C6F;
    }

    body {
        display: flex;
        flex-direction: row;
        margin: 5vh 5vw;
    }

    #homepage-index {
        flex-grow: 1;
        display: flex;
    }

    #homepage-index .song {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    @media (max-width: 600px) {
        #homepage-index .song {
            font-size: 16px;
        }
    }
    @media (min-width: 601px) {
        #homepage-index .song {
            font-size: 20px;
        }
    }
    @media (max-width: 1000px) {
        #index {
            display: none;
        }

        #homepage-index {
            flex-direction: column;
            align-items: stretch;
        }

        #homepage-index .song .title {
            flex-grow: 1;
        }
    }
    @media (min-width: 1001px) {
        #homepage-index {
            flex-direction: row;
            flex-wrap: wrap;
        }

        #homepage-index .song {
            font-size: 20px;
        }
    }

    #homepage-index .song {
        background-color: #333;
        margin: .5em;
        padding: .5em;
        border-radius: .5em;
        font-weight: bold;
        text-transform: uppercase;
    }

    #homepage-index div {
        margin: .25em;
    }

    #homepage-index .song .lyrics-link, #homepage-index .song .tabs-link {
        font-size: 60%;
        margin-left: 1em;
    }

    #content {
        flex-grow: 1;
    }

    h1:first-child {
        margin-top: 0;
    }

    #content h1 a {
        margin-left: 1em;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }

    #index ul, #index ul li {
        list-style: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    #index ul {
        display: table;
    }
    #index li {
        display: table-row;
    }
    #index li div {
        display: table-cell;
    }
    #index li div.lyrics-link, #index li div.tabs-link {
        padding-right: 1em;
    }
}
