{% extends "base.twig" %}
{% block page_title %}{{ parent() }} Lyrics{% endblock %}
{% block title %}{{ parent() }} <a href="/tabs/{{ slug }}.html">tabs</a>{% endblock %}
{% block content %}
<pre class="lyrics">{{ lyrics|e }}</pre>
{% endblock %}
