{% extends "base.twig" %}
{% block title %}{{ parent() }} Tabs{% endblock %}
{% block song_content %}
    {% for version in versions %}
    {% if version.version %}
    <h2>{{ version.version|e }}</h2>
    {% endif %}
    <pre>{{ version.tabs|e }}</pre>
    {% endfor %}
{% endblock %}
